.thread-type-ai-summary {
    background-color: #ebf3fb;
    -webkit-box-shadow: inset 5px 0 0 0 rgb(106, 193, 255);
    box-shadow: inset 5px 0 0 0 rgb(106, 193, 255);
}
/* .thread-type-ai-summary {
    color: #3197d6;
} */

.alert-ai-translation {
    background-color: #ebf3fb;
    /* -webkit-box-shadow: inset 0 0 0 5px rgb(106, 193, 255);
    -webkit-box-shadow: inset -5px 0 0 0 rgb(106, 193, 255);
    box-shadow: inset -5px 0 0 0 rgb(106, 193, 255); */
}

.alert-ai-translation-title {
    color: #a5b2bd;
    font-weight: 600;
    padding-bottom: 10px;
}